MBTA_ENV=local
MBTA_API_KEY=optional_for_higher_rate_limits

# GCP (only needed for gcp env)
GCP_PROJECT_ID=mbta-analytics
GCS_BUCKET=mbta-raw-prod
GOOGLE_APPLICATION_CREDENTIALS=path/to/service-account.json

# Airflow
AIRFLOW__CORE__EXECUTOR=LocalExecutor
AIRFLOW__CORE__LOAD_EXAMPLES=False
AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=sqlite:///airflow.db
