# Data
data/
*.duckdb
*.parquet

# Environment
.env
venv/
.venv/

# Python
__pycache__/
*.pyc
.mypy_cache/
.ruff_cache/

# Airflow
logs/
airflow.db
airflow-webserver.pid

# dbt
dbt_mbta/target/
dbt_mbta/dbt_packages/
dbt_mbta/logs/

# Great Expectations
great_expectations/uncommitted/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store

# IDE
.vscode/
.idea/

# keys
mbta-sa-key.json

frontend/.env.local
frontend/.env
image3.png

image.png

Screenshot 2026-04-23 at 7.42.00 PM.png
Screenshot 2026-04-23 at 7.42.00 PM.png